
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-2">


      <div style="padding:1px;">
      <div style="padding:3px;outline-style: solid;outline-color:#1976d2; width:538px;height:600px">

      <app-top-bar></app-top-bar>

      <router-outlet></router-outlet>
    </div>

    </div>
    </div>

  </div>

</div>
